.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.announcement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2svh;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

.text {
  text-transform: uppercase;
  color: #702321;
  font-size: 16vw;
  line-height: 16vw;
  margin: 0;
}

@media (max-width: 600px) {
  .dataAndPhoto {
    height: 50svh;
    overflow: hidden;
  }
  .dataAndPhoto img {
    object-fit: cover;
  }
  .announcement {
    height: 50svh;
  }
}
