.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  color: #702321;
  line-height: 10vw;
  font-size: 10vw;
  font-weight: normal;
  margin-bottom: 100px;
}
.eventTable {
  width: 90%;
  border-collapse: collapse; /* Optional: for cleaner table borders */
}
.eventTable td {
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: top;
}

.eventTable td:first-child,
.eventTable td:last-child {
  width: 40%;
}

.eventTable td:first-child {
  text-align: right;
}
.eventTable td:last-child {
  text-align: left;
}
.eventTable td:nth-child(2) {
  width: 20%;
  text-align: center;
}
.subTitle {
  color: #702321;
  font-size: 2dvh;
  line-height: 2dvh;
  font-weight: normal;
}
.subSubTitle {
  margin-top: 1vw;
  color: #702321;
  font-size: 1.5dvh;
  line-height: 1.5dvh;
  font-weight: normal;
}

@media (max-width: 1800px) {
  .subTitle {
    font-size: 6vw;
    line-height: 6vw;
  }
  .subSubTitle {
    font-size: 4vw;
    line-height: 4vw;
  }
}
