.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  color: #702321;
  line-height: 10vw;
  font-size: 10vw;
  font-weight: normal;
}
.text {
  color: #702321;
  font-size: 4svh;
  line-height: 4svh;
}
.smallText {
  font-size: 2svh;
  line-height: 2svh;
  color: #702321;
}
