.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title,
.topTitle {
  color: #702321;
  line-height: 10vw;
  font-size: 10vw;
  font-weight: normal;
}
.paragraphContainer {
  margin: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1vw;
}
.subTitle {
  color: #702321;
  line-height: 2vw;
  font-size: 2vw;
  font-weight: bold;
}
.text,
.boldText {
  color: black;
  line-height: 2vw;
  font-size: 1.5vw;
  font-weight: normal;
  margin-bottom: 1vw;
}
.boldText {
  font-weight: bold;
}
.boldContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

@media (max-width: 1800px) {
  .title {
    font-size: 3vh;
    line-height: 3h;
  }
  .subTitle {
    font-size: 3vh;
    line-height: 3h;
  }
  .text,
  .boldText {
    font-size: 2vh;
    line-height: 3vh;
    margin-bottom: 2vh;
  }
}
