.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #702321;
}
.title {
  color: #efc8d4;
  line-height: 10vw;
  font-size: 10vw;
  font-weight: normal;
}
.text {
  text-transform: none;
  color: #efc8d4;
  font-size: 3vw;
  line-height: 3vw;
}
.subText {
  color: #efc8d4;
  font-size: 2vw;
  line-height: 2vw;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-top: 5vw;
}
label {
  font-size: 2.5vw;
  color: #efc8d4;
}

input {
  color: black;
  background-color: white;
  border: none;
  height: 2.5vw;
  border-radius: 8px;
  font-size: 2vw;
}
input:hover {
  cursor: pointer;
}
.button {
  font-size: 2vw;
  margin-top: 2vw;
  line-height: 2vw;
  padding: 2vw;
  border-radius: 8px;
  background-color: #efc8d4;
  color: #702321;
  border: none;
}
.button:hover {
  cursor: pointer;
}
.button:disabled {
  cursor: not-allowed;
  background-color: rgb(61, 61, 61);
  color: rgb(89, 87, 87);
}

@media (max-width: 1800px) {
  .text {
    margin-top: 2vw;
    margin-bottom: 4vw;
    font-size: 5vw;
    line-height: 5vw;
  }
  .subText {
    font-size: 3vw;
    line-height: 3vw;
  }
  label {
    font-size: 3vw;
  }
  .form {
    margin-top: 10vw;
  }
  .title {
    margin-bottom: 10vh;
  }
}
