#root {
  width: 100%;
}

.grid {
  display: flex;
  justify-content: center;
}

.row {
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.column {
  flex-direction: column;
}
p {
  margin: 0;
  padding: 0;
}
